/***
Nathon Smith
CSc 337
This is the CSS code for my final web design project. The CSS changes
the layout of the page by making several divs display as flex, and altering
the color and border of the contents of the page.
**/


body{
	background-color: #542c2c;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#top, #lefttop, #leftbot, #right{
	border: black 7px solid;
	background-color: #bababa;
	border-radius: 15px;
	text-align: center;
	margin: 15px;
}


#top{
	width: 80%;
	height: 20%;
	font-family: "Georgia", sans-serif;
	
}


#main{
	display: flex;
	justify-content: left;
	width: 80%;
	font-family: cursive;
}

#lefttop, #leftbot, #right{
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#left{
	width: 30%;

}

#right{
	width: 70%;
}

h2{
	text-decoration: underline;
	font-size: 2vw;
}

.gamedescription{
	width: 80%;
	background-color: #ededed;
	border: 3px solid black;
	border-radius: 10px;
	margin: 5px;
}

img{
	width: 90%;
	height: auto;
}

input{
	width: 80%;
	margin-bottom: 3px;
}

#links{
	float: left;
	width: 100%;
	margin-top: 4%;
}

.image{
	width: 70px;
}

#leftboards{
	margin-bottom: 10px;
}

canvas{
	border: 3px solid black;
}
